In [1]:
import mysql.connector as connector

### Task-1

In [21]:
connection = connector.connect(
    user='admin1',
    password='liondb@88'
)

In [22]:
cursor = connection.cursor(buffered=True)

In [25]:
cursor.execute("USE littlelemondb")

### Task-2

In [29]:
show_tables_query = "SHOW TABLES"
cursor.execute(show_tables_query)

In [30]:
results = cursor.fetchall()

In [31]:
for i in results:
    print(i)

('bookings',)
('customers',)
('menu',)
('orders',)
('orderstatus',)
('orderview',)
('staff',)

### Task-3

In [32]:
query = """
SELECT 
	CONCAT( c.FirstName, " ", c.LastName) AS FullName, 
    c.Contact, 
    c.Email,
    o.TotalCost
FROM customers c INNER JOIN bookings b
	ON c.CustomerID = b.CustomerID
INNER JOIN orders o
	on b.BookingID = o.BookingID
WHERE o.TotalCost >= 60
;
"""

In [33]:
cursor.execute(query)
dataset = cursor.fetchall()

In [34]:
for data in dataset:
    print(data)

('James Hoog', '8002348877', 'hoog@mail.com', Decimal('100'))
('Nail Knite', '8002343411', 'knite@mail.com', Decimal('175'))
('Mac Lyon', '8002346500', 'lyon@mail.com', Decimal('200'))